@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #3C4048;
  --text-white: #EAEAEA;
  --primary-color: #43a2cb;
  --secondary-color: #B2B2B2;
  --third-color: #f5a962;

  --rgb-bg-color: 60, 64, 72;
  --rgb-text-white: 234, 234, 234;
  --rgb-primary-color: 67, 162, 203;
  --rgb-secondary-color: 178, 178, 178;
  --rgb-third-color: 245, 169, 98;
}

html, body {
  background: var(--bg-color);
  color: var(--text-white);
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

.contentContainer {
  margin: 0 5px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
